# Практическое задание №2

Загрузка источников данных

In [ ]:
!wget https://github.com/krashivan/working_files/raw/main/PA2HW1/marketing_campaign.csv

In [ ]:
!wget https://github.com/krashivan/working_files/raw/main/PA2HW1/subscribers.csv

In [ ]:
!wget https://github.com/krashivan/working_files/raw/main/PA2HW1/users.csv

#Задание 1
Загрузить, определить количество строк и склеить 3 датасета

In [4]:
import pandas as pd

df_mark = pd.read_csv('marketing_campaign.csv', header = 0, sep=',')
df_sub = pd.read_csv('subscribers.csv', header = 0, sep=',')
df_user = pd.read_csv('users.csv', header = 0, sep=',')

print(f'marketing_campaign - {len(df_mark)}\nsubscribers - {len(df_sub)}\nusers - {len(df_user)}')

df_united_all = pd.merge(df_mark, df_sub, on = 'user_id', how = 'left').merge(df_user, on = 'user_id', how = 'left')

df_united_all.head()

marketing_campaign - 10037
subscribers - 10037
users - 10037

  user_id date_served  ...    age_group language_preferred
0   a1000      1/1/18  ...   0-18 years            English
1   a1001      1/1/18  ...  19-24 years            English
2   a1002      1/1/18  ...  24-30 years            English
3   a1003      1/1/18  ...  30-36 years            English
4   a1004      1/1/18  ...  36-45 years            English

[5 rows x 12 columns]

#Задание 2
Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета

In [9]:
df_united_all.info()
df_united_all.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

       user_id date_served  ...    age_group language_preferred
count    10037       10021  ...        10037              10037
unique   10037          31  ...            7                  4
top      a4540     1/15/18  ...  19-24 years            English
freq         1         789  ...         1682               9275

[4 rows x 12 columns]

#Задание 3
Определить эффективность маркетинговых каналов по привлечению платящих игроков

In [8]:
df_united_all['marketing_channel'].loc[df_united_all['converted'] == 1].value_counts(normalize=True)

House Ads    0.276952
Instagram    0.246283
Facebook     0.220260
Email        0.179368
Push         0.077138
Name: marketing_channel, dtype: float64

#Задание 4
Определить самую раннюю дату подписки на сервис

In [10]:
data = {'Date': df_united_all['date_subscribed']}
subscribed_date_only = pd.DataFrame(data)
subscribed_date_only['Date'] = pd.to_datetime(subscribed_date_only['Date'])

print(subscribed_date_only['Date'].min())

2018-01-01 00:00:00

#Задание 5
Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

In [11]:
audience_portrait = df_united_all.loc[df_united_all['is_retained'] == True, ['language_preferred', 'age_group']].groupby(by=['language_preferred', 'age_group']).size()

audience_portrait

language_preferred  age_group
Arabic              0-18 years       3
                    19-24 years      1
                    24-30 years      3
                    36-45 years      1
                    45-55 years      2
                    55+ years        2
English             0-18 years     210
                    19-24 years    304
                    24-30 years    250
                    30-36 years    114
                    36-45 years    107
                    45-55 years    108
                    55+ years       86
German              0-18 years      10
                    19-24 years     11
                    24-30 years     15
                    30-36 years      1
                    36-45 years      2
                    45-55 years      3
                    55+ years        2
Spanish             0-18 years       6
                    19-24 years     10
                    24-30 years      5
                    30-36 years      7
                    36-45 years      5
                    45-55 years      6
                    55+ years        5
dtype: int64